[submodule "LTX-2"]
	path = LTX-2
	url = https://github.com/Lightricks/LTX-2.git
[submodule "openhuman"]
	path = openhuman
	url = https://github.com/tinyhumansai/openhuman.git
[submodule "Kronos"]
	path = Kronos
	url = https://github.com/shiyu-coder/Kronos.git
